import 	(
    "github.com/onosproject/aether-roc-api/pkg/gnmiutils"
    "github.com/onosproject/aether-roc-api/pkg/rbac_1_0_0/types"
   	modelplugin "github.com/onosproject/config-models/modelplugin/rbac-1.0.0/rbac_1_0_0"
)

{{range .Types}}
// {{printf "gnmiDelete%s" .TypeName}} deletes an instance of {{.JsonName}}.
func (i *ServerImpl) {{printf "gnmiDelete%s" .TypeName}}(ctx context.Context,
    openApiPath string, target types.Target, args ...string) error {

    gnmiSet, err := gnmiutils.NewGnmiSetDeleteRequest(openApiPath, string(target), args...)
    if err != nil {
        return err
    }
    log.Infof("gnmiSetRequest %s", gnmiSet.String())
    _, err = i.GnmiClient.Set(ctx, gnmiSet)

    return err
}

// {{printf "gnmiGet%s" .TypeName}} returns an instance of {{.JsonName}}.
func (i *ServerImpl) {{printf "gnmiGet%s" .TypeName}}(ctx context.Context,
    openApiPath string, target types.Target, args ...string) (*types.{{.TypeName}}, error) {

    gnmiGet, err := gnmiutils.NewGnmiGetRequest(openApiPath, string(target), args...)
    if err != nil {
        return nil, err
    }
    log.Infof("gnmiGetRequest %s", gnmiGet.String())
	gnmiJsonVal, err := gnmiutils.GetResponseUpdate(i.GnmiClient.Get(ctx, gnmiGet))
	if err != nil {
		return nil, err
	}
	if gnmiJsonVal == nil {
	    return nil, nil
	}

	log.Infof("gNMI Json %s", string(gnmiJsonVal.JsonVal))
    var gnmiResponse modelplugin.Device
	if err = modelplugin.Unmarshal(gnmiJsonVal.JsonVal, &gnmiResponse); err != nil {
	    return nil, fmt.Errorf("error unmarshalling gnmiResponse %v", err)
	}
	mpd := ModelPluginDevice{
	    device: gnmiResponse,
	}

    return mpd.{{printf "handlePropList%s" .TypeName}}()
}

// {{printf "gnmiPost%s" .TypeName}} adds an instance of {{.JsonName}}.
func (i *ServerImpl) {{printf "gnmiPost%s" .TypeName}}(ctx context.Context,
    openApiPath string, target types.Target, args ...string) error {

    gnmiSet, err := gnmiutils.NewGnmiSetUpdateRequest(openApiPath, string(target), args...)
    if err != nil {
        return err
    }
    log.Infof("gnmiSetRequest %s", gnmiSet.String())
    _, err = i.GnmiClient.Set(ctx, gnmiSet)

    return nil
}

{{end}}

type Translator interface {
    {{range .Types}}
    {{printf "handlePropList%s" .TypeName}}() ({{printf "*types.%s" .TypeName}}, error){{end}}
}
