import 	(
    "github.com/onosproject/onos-lib-go/pkg/logging"
    "github.com/onosproject/aether-roc-api/pkg/southbound"
)

// Implement the Server Interface for access to gNMI
var log = logging.GetLogger("rbac")

// ServerImpl -
type ServerImpl struct {
	GnmiClient southbound.GnmiClient
}

{{range .}}{{$opid := .OperationId}}{{$path := .Path}}{{$paramNames := genParamNames .PathParams}}// {{$opid}} impl of gNMI access at {{$path}}
func (i *ServerImpl) {{.OperationId}} (ctx echo.Context{{genParamArgs .PathParams}}{{if .RequiresParamObject}}, params {{.OperationId}}Params{{end}}) error {

    var response interface{}
    var err error
{{ range $resp := .Spec.Responses}}
    // Response {{$resp.Value.Description}}
    response, err = i.gnmi{{$opid}}(context.Background(), "{{$path}}"{{$paramNames}})
    if err != nil {
        return ctx.JSON(http.StatusInternalServerError, err)
    }
    if response == nil {
        return ctx.JSON(http.StatusNotFound, nil)
    }
{{end}}

    log.Infof("{{.OperationId}}")
    return ctx.JSON(http.StatusOK, response)
}
{{end}}
