# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation

name: Master workflow
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-and-test:
    uses: onosproject/.github/.github/workflows/go-build-test.yml@main

  lint:
    uses: onosproject/.github/.github/workflows/go-lint.yml@main

  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Build Docker image
        run: |
          go mod vendor
          docker build . -f build/aether-roc-api/Dockerfile  -t onosproject/aether-roc-api:latest
          rm -rf vendor

  license-check:
    uses: onosproject/.github/.github/workflows/license-check.yml@main

  fossa-check:
    uses: onosproject/.github/.github/workflows/fossa-scan.yml@main
